# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
poetry.lock

# Unit test / coverage reports
.coverage
.pytest_cache/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.venv
venv/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
